---
version: 2
updates:
  # Enable version updates for uv packages
  - package-ecosystem: "uv"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
    open-pull-requests-limit: 1
    assignees:
      - "anchildress1"
    commit-message:
      prefix: "chore"
      include: "scope"

  # Enable version updates for GitHub Actions
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
      day: "monday"
      time: "04:00"
    open-pull-requests-limit: 1
    assignees:
      - "anchildress1"
    commit-message:
      prefix: "ci"
      include: "scope"
